<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1065705761872-fba1cbaeuvt5m6su8mtad6f5075ana4u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1065705761872-fba1cbaeuvt5m6su8mtad6f5075ana4u</string>
	<key>API_KEY</key>
	<string>AIzaSyDaMiELZGoQai_3qJmdMyqBVbRGC7E2WxI</string>
	<key>GCM_SENDER_ID</key>
	<string>1065705761872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.RNFB</string>
	<key>PROJECT_ID</key>
	<string>rnfb-cmq</string>
	<key>STORAGE_BUCKET</key>
	<string>rnfb-cmq.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065705761872:ios:08fb33ec6834359667f555</string>
</dict>
</plist>